<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maps</title>
    <script src="/spaify.js"></script>
    <link rel="stylesheet" href="/global_styles.css"/>
    <link rel="stylesheet" href="/form_page_style.css"/>
    <style>
        input[type="submit"]{
            grid-column: span 1;
        }
        form{
            grid-template-columns: 1fr max-content;
            display:grid;
        }
        #form-results, #world-map{
            display:grid;
            grid-template-columns: repeat(auto-fill, minmax(clamp(0%, 25em, 100%), auto));
        }
        .map-card{
            overflow-wrap:anywhere;
            box-shadow:0 0 2px 0px var(--main-foreground-color);
            border: 1px solid var(--main-foreground-color);
            border-radius:3px;
            padding:3px;
            margin:3px;
            color:black;
            text-decoration:none;
            box-sizing:border-box;
            background:linear-gradient(115deg, #c9f2ff, #fdbeff);
            background-attachment:fixed;

        }
        #world-map > .map-card{
            background:linear-gradient(to right in hsl, #fff17f, #ffd15f);
        }
        .loading{
            --loading-gray:#e4e4e9;
            background:linear-gradient(135deg, var(--loading-gray), var(--loading-gray) 70%, #f4ffff 75%, var(--loading-gray) 80%);
            background-attachment:fixed;
            animation: 4s ease-in-out 0s loading-shine;
            animation-iteration-count:infinite;
            background-repeat:repeat;
            background-size:500vw;
            box-shadow:unset;
        }
        @keyframes loading-shine {
            0%{
                background-position: 0% 0%;
            }
            100%{
                background-position:500vw 0%;
            }
        }
        .map-description{
            display:inline-block;
            line-height:2.5ex;
            height:7.5ex;
            overflow-wrap:anywhere;
            overflow:hidden;
        }
        #load-more{
            padding:3px;
            margin:3px;
        }
    </style>
    <script>
        function formatMap(info){
            const root = document.createElement('a');
            root.classList.add("map-card")
            root.href=`/creategame/${info.mapid}`
            const header = document.createElement('b');
            header.style.display="inline"
            header.textContent = info.mapname
            root.appendChild(header);
            root.appendChild(document.createTextNode(` by ${info.username ?? "Unknown user"}`))
            root.appendChild(document.createElement('hr'))
            const description = document.createElement('span')
            description.classList.add("map-description")
            description.textContent = info.description
            root.appendChild(description)
            return root;
        }   

        var sendForm = (() => {
            let prevQuery = "";
            return async function(event){
                event?.preventDefault();
                const fd = new FormData(document.getElementById('search-form'));
                const newQuery= fd.get("query");
                const differentQuery = (newQuery !== prevQuery);
                if(differentQuery){
                    prevQuery = newQuery;
                    document.getElementById("pageinput").value = "0";
                    document.getElementById("load-more").style.visibility = "collapse";
                    document.getElementById("form-results").innerHTML = "";
                    return sendForm();
                }
                const results = document.getElementById("form-results");
                let loading_count = (results.children.length==0) ? 6 : 1
                for(let i=0; i<loading_count; i++){
                    const dummy = document.createElement('span');
                    dummy.classList.add("map-card");
                    dummy.classList.add("loading");
                    dummy.innerHTML=`${i==0?"Loading...":""}&nbsp;`;
                    dummy.appendChild(document.createElement('hr'));
                    const dummydesc = document.createElement("span");
                    dummydesc.classList.add("map-description");
                    dummy.appendChild(dummydesc);
                    results.appendChild(dummy);
                }
                const pageinput = document.getElementById("pageinput");
                pageinput.value = parseInt(pageinput.value)+1;
                let response;
                try{
                    response = await fetch("/maps", {method:'POST', body:new URLSearchParams(fd)});
                }
                catch{
                    results.append(document.createTextNode(`Network error =(`));
                    results.querySelectorAll(".loading").forEach(x=>x.remove());
                    return;
                }
                if(response.redirected){
                    (window.SPAify?.navigateTo || window.location.assign.bind(window.location))(response.url);
                    return;
                }
                const maps = await response.json();
                const layout = [];
                for(const map of maps){
                    layout.push(formatMap(map))
                }
                results.querySelectorAll(".loading").forEach(x=>x.remove());
                if(layout.length < fd.get("count")){
                    document.getElementById('load-more').style.visibility="collapse"
                    if(results.children.length==0 && layout.length==0){
                        layout.push(document.createTextNode(`No maps found matching query`))
                    }
                }
                else{
                    document.getElementById('load-more').style.visibility="visible"
                }
                results.append(...layout);

                document.getElementById("world-map").style.display = (prevQuery=="") ? "revert-layer":"none";

                return false;
            }
        })();
        document.addEventListener('DOMContentLoaded',()=>{
            document.getElementById("mapnameinput").value='';
            sendForm()
        });
    </script>
</head>
<body>
    
    <%- include('navheader'); %>
    <form onsubmit="sendForm(event)" id="search-form">
        <input type="text" placeholder="Map name" name="query" id="mapnameinput">
        <input type="hidden" name="count" value="20"/>
        <input type="hidden" name="page" value="0" id="pageinput" autocomplete="off"/>
        <input type="submit" value="Search">
    </form>
    <div id="world-map"></div>
    <hr>
    <div id="form-results"></div>
    <button onclick="sendForm(event)" id="load-more">Load more maps</button>
    <hr>
    <script>
        window.addEventListener("load", ()=>{
            const world_map = <%- JSON.stringify(world_map ?? []) %>;
            const dest = document.getElementById("world-map");
            for(const map of world_map){
                dest.appendChild(formatMap(map));
            }
        });
    </script>
</body>
</html>