<nav style="
	border-bottom:1px solid gray;
	padding:5px;
	padding-top:0px;
	display:flex;
	justify-content:space-between;
">
	<span>
		<span>
			<a href="/maplist">Maps</a>
		</span>
		|
		<span>
			<a href="/settings">Settings</a>
		</span>
		|
		<span>
			<a href="/dailychallenge">Daily challenge</a>
		</span>
	</span>
	<span>
		<% if(username) { %>
			<%= username %> | 
			<a href="/logout">Log out</a>
		<% } else { %>
			<a href="/login.html">Log in</a>
		<% } %>
	</span>
</nav>