body{
	font-family:sans-serif;
}
input, select, label{
	margin:3px;
}
form{
	border: 1px solid black;
	display:grid;
	grid-template-columns: max-content max-content;
	margin:5px;
	padding:5px;
	width:max-content;
}
.error-message{
	margin:5px;
	padding:5px;
	border: 2px solid red;
	background-color:pink;
	display:none;
}
input[type="submit"], .error-message{
	grid-column: span 2;
}